::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525252;
  border: 0px none #ffffff;

}
::-webkit-scrollbar-thumb:hover {
  background: #4c4c4c;
}
::-webkit-scrollbar-thumb:active {
  background: #404040;
}
::-webkit-scrollbar-track {
  background: #272727;
  border: 0px dashed #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

