@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap');

html,
body {
  font-family: 'Outfit', sans-serif !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #121212 !important;
  color: white;
  font-display: swap !important;
  scroll-behavior: smooth;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100% !important;
}

footer {
  background: white;
  width: 100%;
  padding: 15px 0px;
}

main {
  min-height: 86% !important;
}

.text-blod {
  font-weight: 700 !important;
}

.text-indent{
  text-indent: 50px !important;
}

.text-mute {
  color: #5f5f5f;
}

.bg-darkwhite {
  background-color: #272727;
}